.message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    background-color: rgb(148, 145, 145);
    color: black;
}